body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.App {
  height: 100%;
  width: 100%;
  text-align: center;
}

#root {
  height: 100%
}

.map {
  z-index: 0;
  width: 100vw;
  height : 100vh;
}

.card-form {
  width: 300px;
  z-index: 999;
  font-family: 'pacifico';
  text-align: center;
  position: relative;
  margin-top: -937px;
  margin-left: 1620px;
  background: lightblue;
  border-radius: 5px;
}

.second-card {
  width: 410px;
  z-index: 999;
  font-family: 'pacifico';
  text-align: center;
  position: relative;
  margin-top: -480px;
  margin-left: 10px;
  background: rgb(2, 17, 22);
  border-radius: 5px;
}
.case-list-group {
  height: 900px
}

.message-form {
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
}

.cityMessage {
  margin-top: 15px;
  margin-top: -937px;
  margin-left: 1620px;
}

.credit-text {
  z-index: 999;
  margin-left: 10px;
}

